* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

/* Container */
.container {
	width: 1200px;
	margin: auto;
}

/* Navbar Menu */
.navbar {
	font-size: 16px;
	display: flex;
	text-decoration: none;
	justify-content: space-between;
}

.navbar-brand {
	text-decoration: none;
	padding: 10px;
}

/* .navbar-brand span {
	color: #142850;
	font-size: 24px;
	padding: 10px;
	margin-top: -20px;
} */

.navbar-brand a {
	color: blueviolet;
	font-weight: bold;
}

.navbar-menu a:hover {
	color: blue;
}

ul {
	margin-top: 24px;
}

ul li {
	display: inline;
	margin-right: 32px;
}
ul li a {
	color: black;
	text-decoration: none;
	text-align: end;
}

/* Hero */
.hero {
	display: flex;
	justify-content: space-around;
	margin-top: 100px;
}

.hero-text {
	width: 100%;
}

.hero-text h1,
.hero-text h4 {
	margin-bottom: 20px;
}

.hero-text h1 {
	font-size: 44px;
	font-weight: bold;
	line-height: 60px;
}

.hero-text h4 {
	font-size: 16px;
	font-weight: 300;
	text-align: justify;
	line-height: 32px;
}

.hero-text button {
	font-size: 16px;
	color: #ffffff;
	background-color: blue;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin-bottom: 32px;
}

.hero-text button:hover {
	background-color: blueviolet;
}

.hero-img img {
	width: 160px;
	height: 160px;
	border-radius: 50%;
}

/* Posts */
.post {
	background-color: #edf7fa;
	display: flex;
	flex-direction: column;
	padding: 30px 60px;
}

.post-head {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.post-head h3,
.feature h3 {
	font-size: 22px;
	font-weight: 500;
	line-height: 60px;
}

.post-head a {
	font-size: 16px;
	color: #00abcc;
	text-decoration: none;
	margin-bottom: 10px;
}

.post-head a:hover {
	color: blueviolet;
}

.post-body {
	display: flex;
	gap: 20px;
}

.post-body-detail {
	background-color: #ffffff;
	padding: 20px 25px;
	border-radius: 10px;
	/* line-height: 24px; */
}

.post-body-detail h2 {
	font-size: 26px;
	font-weight: 500;
	margin-bottom: 20px;
}

.post-body-info,
.post-body-detail p {
	font-size: 16px;
	text-align: justify;
	margin-bottom: 10px;
	line-height: 32px;
}

/* Features */
.feature {
	padding: 30px 70px;
	margin-top: 20px;
}

.feature-detail {
	display: flex;
	gap: 15px;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e0e0e0;
}

.feature-detail-text h2 {
	font-size: 30px;
	line-height: 60px;
	font-weight: bold;
	margin-bottom: 20px;
}

.feature-detail label:first-of-type {
	background-color: #142850;
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	padding: 5px 10px;
	border-radius: 10px;
	margin-right: 15px;
}

.feature-detail label {
	color: #8695a4;
	font-size: 20px;
}

.feature-detail p {
	margin-top: 30px;
	font-size: 16px;
	color: #21243d;
	line-height: 32px;
	text-align: justify;
}

/* Footer */
.footer {
	text-align: center;
}

.footer-social img {
	width: 24px;
	height: 24px;
	margin: 24px 0 24px 24px;
}

.footer-copy p {
	margin-bottom: 32px;
}

.footer-copy a {
	text-decoration: none;
	color: blue;
}

.footer-copy a:hover {
	color: blueviolet;
}

@media only screen and (max-width: 600px) {
	.container {
		width: 100%;
		/* margin: auto; */
	}

	.hero {
		display: flex;
		flex-direction: column-reverse;
		margin-top: 100px;
		align-items: center;
	}

	.hero-text h1 {
		text-align: center;
		font-size: 32px;
		font-weight: bold;
		line-height: 40px;
	}

	.hero-text h4 {
		font-size: 16px;
		padding: 4px;
		font-weight: 300;
		text-align: center;
		line-height: 32px;
	}

	.hero-text button {
		justify-content: center;
	}

	.post {
		padding: 15px 35px;
	}

	.post-body {
		display: flex;
		flex-direction: column;
	}

	.feature-detail {
		display: flex;
		flex-direction: column;
	}

	.feature-detail-img img {
		width: 100%;
	}
}
